<div class="container-flex">
  <div class="login-container">
    <mat-card>
      <div>
        <span class="title-login">Bienvenido</span>
      </div>
      <div>
        <img src="https://interfell.com/inicio/images/interfell_logo1.png" height="90px" width="120px">
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Correo" [(ngModel)]="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password">
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button color="warn" (click)="authentication()" >Entrar</button>
      </div>
    </mat-card>
  </div>
</div>
